*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.numbers {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 25px;
}
h1 {
    font-size: 3rem !important;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dotted;
    background-color: rgb(224, 224, 224);
}
@media only screen and (max-width: 600px){
	/*Small smartphones [325px -> 425px]*/
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px !important;
    }
}

#feedback {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

input {
	width: 80px;
    margin-right: 10px; 
    border: none;
    border-bottom: 1px solid;
	
	
}
textarea:focus, input:focus{
    outline: none;
    
}


.button-container{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: 25px;
    border-bottom: 1px dotted;
    padding-bottom: 25px;
}



.answers{
    display: flex;
    justify-content: center;
}
tr , th , td  {
    border: 1px solid black;
    padding: 1% 10%;
    text-align: center;
}